body {
    background-color: white;
}

.container {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: auto;
    background-color: papayawhip;
}

#title {
    text-align: center;
}
#description {
    text-align: center;
}

#survey-form {
        display: flex;
        flex-direction: column;
        width: 50vw;
        margin: 0 auto;
}

label,
#name-label,
#email-label,
#number-label,
#dropdown-label {
    color: white;
    width: 80%;
    margin: auto;
    text-align: left;
}

#name,
#email,
#number,
#dropdown,
#submit,
#textArea {
    width: 80%;
    margin: 10px auto;
}

.flexRow {
    width: 80%;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
}
