
.container {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: auto;
}

#title {
    text-align: center;
}
#description {
    text-align: center;
}

#survey-form {
        display: flex;
        flex-direction: column;
        width: 50vw;
        margin: auto;
}

#name-label,
#email-label,
#number-label,
#dropdown-label {
    color: white;
    width: 80%;
    margin: auto;
    text-align: left;
}

#name,
#email,
#number,
#dropdown,
#submit {
    width: 80%;
    margin: 10px auto;
}